
h1, h2, h3
{
    color:black;
    font-family:verdana;
    text-decoration:underline;
    text-align:center;

}
#mainText{
    color:black;
    font-family: arial;
    text-align:justify;
}

.fullwidthcontent{
    width: 100%;
}

a{
    font-size:2em;
    color: blue;
    text-align: center;
    text-decoration: none;
}

.anchorLarge{
    color: rgb(255, 0, 47);
    font-size: 2em;
    padding: 5%;
}

header{
    border-bottom: -2px solid red;
}


body{
    background-color: rgb(86, 8, 8);
    margin-left:10%;
    margin-right:10%;
}



ul li {display: inline;}

ul a {
    font-size: 200%;
    text-decoration: none;
    border: 2px solid orangered;
    border-radius: 1em;
    margin-right: 10px;
    padding:10px;
    color: black;
    background-color: lightskyblue;
}

.base_color{
    font-size: 800%;
    color:rgb(92, 39, 39);
    font-family: "Brush Script MT", cursive;
}